/* ESTILOS EN BODY */

body {
    font-family: 'Bevan', cursive;
    background-color: rgba(239, 239, 239, 255) !important;
      
}
 


/* ESTILOS EN HEADER */

div h1 {
    font-size: 2em !important;
    font-family: 'Holtwood One SC', serif;
}

.logo_titulo {
color: rgba(0, 0, 0, 255);
background-image: linear-gradient(to right, rgba(239, 239, 239, 255) 20%, rgba(0, 0, 0, 255));
}

/* ESTILOS EN NAV */

.nav-pills .nav-link.active {
    background: rgba(255, 183, 0, 1) !important;
}

nav ul li a {
    font-family: 'Holtwood One SC', serif;
    color: rgba(0, 0, 0, 255) !important;  
}

/* ESTILOS EN MAIN */

main {
    min-height: 100vh; 
    background: rgb(222, 184, 135);
    background: linear-gradient(90deg, rgba(222, 184, 135, 1) 0%, rgba(217, 184, 135, 1) 33%, rgba(255, 183, 0, 1) 100%);
}

/* ESTILOS EN FOOTER */

footer {
    background-color: rgba(0, 0, 0, 255) !important;
    color: rgba(239, 239, 239, 255);
}

.fa-brands {
    color: rgba(239, 239, 239, 255) !important;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

/* ANIMACIONES */
.logo_titulo  {
    animation-name: animacion_titulo;
    animation-duration: 3s;
}

@keyframes animacion_titulo {
    from {
        
        transform: translate(1400px);
    }

    to { }
}

/* ESTILOS EN BOTONES */
.tipoBoton {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 7px;
    background: rgba(255, 183, 0, 1) !important
}
