div h1 {
  font-size: 2em !important;
  font-family: "Holtwood One SC", serif;
}

.logo_titulo {
  color: rgb(0, 0, 0);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(239, 239, 239)), to(rgb(0, 0, 0)));
  background-image: linear-gradient(to right, rgb(239, 239, 239) 20%, rgb(0, 0, 0));
  -webkit-animation-name: animacion_titulo;
          animation-name: animacion_titulo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes animacion_titulo {
  from {
    -webkit-transform: translate(1400px);
            transform: translate(1400px);
  }
}

@keyframes animacion_titulo {
  from {
    -webkit-transform: translate(1400px);
            transform: translate(1400px);
  }
}
nav ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin: 0 20px 0 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgb(255, 183, 0);
}
nav ul li a {
  font-family: "Holtwood One SC", serif;
  color: rgb(0, 0, 0) !important;
}

.nav-pills .nav-link.active {
  background: rgb(255, 183, 0);
}

main {
  min-height: 100vh;
  background: rgb(222, 184, 135);
  background: -webkit-gradient(linear, left top, right top, from(rgb(222, 184, 135)), color-stop(33%, rgb(217, 184, 135)), to(rgb(255, 183, 0)));
  background: linear-gradient(90deg, rgb(222, 184, 135) 0%, rgb(217, 184, 135) 33%, rgb(255, 183, 0) 100%);
}

.tabla_market {
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);
}

.tabla_market tr:hover td img {
  padding: 50px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

footer {
  color: rgb(239, 239, 239);
  background-color: rgb(0, 0, 0) !important;
}

.fa-brands {
  color: rgb(239, 239, 239);
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

body {
  font-family: "Bevan", cursive;
  background-color: rgb(239, 239, 239) !important;
}

.tipoBoton, .tipoBoton--rojo, .tipoBoton--verde {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 7px;
  background-color: rgb(255, 183, 0);
}

.tipoBoton--verde {
  background-color: green;
}

.tipoBoton--rojo {
  background-color: red;
}