// ESTILOS FOOTER
@mixin est-footer-letra {
    color: map-get($col, crudo)
}

footer {
    @include est-footer-letra;
    background-color: map-get($col, oscuro) !important;
}

.fa-brands {
    @include est-footer-letra;
    font-size: 30px;
    margin: 10px;
    padding: 10px; 
    &:hover {
        transform: scale(1.3);
        margin: 0 20px 0 20px;
        transition: all 1s;
        color: map-get($col,realce);
    }
}

