// ANIMACIONES 
div h1 {
    font-size: 2em !important;
    font-family: $font-cabezal;
}

.logo_titulo {
    color: map-get($col, oscuro);
    background-image: linear-gradient(to right, map-get($col, crudo) 20%, map-get($col, oscuro));
    animation-name: animacion_titulo;
    animation-duration: 3s;
}

@keyframes animacion_titulo {
    from {

        transform: translate(1400px);
    }

    to {}
}

// ESTILOS NAV

nav {
    ul {
        li {
            &:hover {
                transform: scale(1.3);
                margin: 0 20px 0 20px;
                transition: all 1s;
                background-color: map-get($col, realce);
            }

            a {
                font-family: $font-titulo;
                color: map-get($col, oscuro) !important;

            }

        }
    }

}

.nav-pills .nav-link.active {
    background: map-get($col, realce);
}