    // MAPA DE COLORES  
    $col: (
        realce: rgba(255, 183, 0, 1),
        oscuro: rgba(0, 0, 0, 255),
        crudo: rgba(239, 239, 239, 255),
    );

    // FUENTES
    @font-face {
     font-family: "westhood";
       src: url(../assets/fonts/WestHood.ttf);
      };
     
      @font-face {
        font-family: "eastwood";
        src: url(../assets/fonts/Eastwood.ttf);
     };

    $font-cabezal: ('westhood');
    $font-titulo: ('westhood');
    $font-normal: ('eastwood');

