@import "./variables";
@import "./header";
@import "./main";
@import "./footer";

// ESTILOS GENERALES BODY
body {
    font-family: $font-normal;
    background-color: map-get($col,crudo)  !important;
    font-size: large;
}


