@import "./variables";
@import "./header";
@import "./nav";
@import "./main";
@import "./footer";

body {
    font-family: $font-normal;
    background-color: $col-oscuro  !important;
}

.tipoBoton {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 7px;
    background: $col-realce  !important
}