// INGRESO DE PARTIALS
@import "./variables";
@import "./header";
@import "./main";
@import "./footer";

// ESTILOS GENERALES
body {
    font-family: $font-normal;
    background-color: map-get($col, crudo) !important;
}

.tipoBoton {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 7px;
    background-color: map-get($col, realce);
}

.tipoBoton--verde {
    @extend .tipoBoton;
    background-color: green;
}

.tipoBoton--rojo {
    @extend .tipoBoton;
    background-color: red;
}